@media only screen and (max-width: 768px){
    *{
        margin: 0px;
        padding: 0px;
        border: 0px;
    }    
    #header{
        text-align: center;
        padding-bottom: 5px;
        padding-top: 5px;
        width: auto;
    }
    .center{
        text-align: center;
    }
    #nav ul{
        list-style-type: none;
        list-style: none;
    }

    #nav ul li{
        width: 100%;
        border: 1px solid black;
        background-color: brown;
        text-align: center;
        font-size: 300%
        
    }

    #content{
        margin-left: 0px;
        margin-right: 0px;
    }

    #search{
        width: 78%;
        display: inline-block;
    }
    #nav{
        width: 20%;
        display: inline-block;
    }


    #pic_menu{
        width: 40px;
        height: 30px;
    }
    .menu_hidden{
        width: 0px;
        height: 0px;
        display: none;
    }

    #background_picture{
        margin-top: 10px;
    }
    .disable{
        display: none;
        width: 0px;
        height: 0px;
    }
    
    .dec-text{
        width: 150px;
    }

    button{
        width: 120px;
    }
}